#single-project-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    
    height: 100%;
    width: 100%;
}

#content-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    width: 60%;
    height: 95%;
    min-height: 80vh;

    background: #fff;
    border-radius: 25px;
}

#modal-close{
    display: block;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;

    font-size: calc(12px + 1.5vw);
    color: #ccc;
}

#modal-close:hover{
    color:#aaa;
}

#modal-project-name{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

#modal-top{

    font-size: calc(24px + 2vw);
    
    border-bottom-color: #ccc;
    border-bottom-style: dashed;

    height: 10%;
}

#modal-top>i{
    color: #00627A;
}

#modal-top>i:hover{
    color: #004152;
}

#modal-center{

    margin-top: 2%;
    height: 70%;
    overflow-y: auto;
}


#single-project-not-text{

    display: grid;
    grid-template-areas: 'current current current all';
    
    text-align: center;
    width: 84%;
    
    padding-left: 8%;
    padding-right: 7%;
}

#single-project-current-image{
    grid-area: current;
    margin-right: 2%;
    position: relative;
}

#single-project-all-images{

    grid-area: all;
    text-align: right;
}
#single-project-text{

    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
}

#modal-project-tags > .project-tag{

    color: #000;
    margin: 2% 4% 2% 4%;
}

#modal-tittle{
    font-size: 1.5em;
}

.modal-button{

    margin-top: 5%;
    background: #0088aa;
    color: #fff;

    font-size: calc(12px + 1vw) !important;
    padding-left: 1%;
    padding-right: 1%;
    width: 2vw;
    height: 2vw;

}

.modal-button:hover{
    background: #ADEFFF;
    color: #00B4E0;
}


#single-project-buttons{

    text-align: right;
    padding-right: 2%;
}

#modal-project-description > b{

    background: #ADEFFF;
}