#single-project-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    
    height: 100%;
    width: 100%;


}

#content-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    width: 60%;
    height: 96%;
    min-height: 80vh;

    background: #fff;
    overflow-y: auto;
}

#modal-close{
    display: block;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;

    font-size: calc(12px + 1.5vw);
    color: #ccc;
}

#modal-close:hover{
    color:#aaa;
}

#modal-project-name{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

#modal-top{

    font-size: calc(24px + 2vw);
    
    border-bottom-color: aqua;
    border-bottom-style: dashed;
}

#single-project-video{

    width: 50vw;
    height: 30vw;
}

#modal-project-tags > .project-tag{

    color: #000;
    background: #C2F3FF;

    margin: 1%;
    padding: 1%;

    border-radius: 25px;
}

#modal-tittle{
    font-size: 1.5em;
    margin-bottom: 2%;
}

.modal-button{

    margin-top: 5%;
    background: #0088aa;
    color: #fff;

    padding:2%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 25px;

}

.modal-button:hover{
    background: #DACFF9;
    color: #6C5FC3;
}

#modal-project-image{
    width: 80%;
    height: auto;
}


#single-project-buttons{

    margin-top: 4%;
}