/*estilos por defecto*/
html,body{

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	
	background: #f2f2f2;
	color: black;	

	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Amatic SC', cursive;
}

#home-info{
	width: 100%;
	height: 102vh;

	text-align: left;

	background-image:url("../images/b1.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}

#home-title{
	position: relative;
	top: 70%;
	left: 50%;
	transform: translate(-50%, 0%);
	padding-left: 20px;

}

#home-title > span{

	background: rgba(255, 255, 255, 0.6);
	font-family: 'Amatic SC', cursive;
}

#info-title{
	position: relative;
	z-index: 10;
}

#name{
	font-size: calc(24px + 2vw);
}

#subtext{
	font-size: calc(18px + 1.5vw);
}

#about-me{
	height: 100%;
	width: 80%;
	display: grid;
	grid-template-areas: 'about imagen';
	
	padding-top: 5%;

	margin-bottom: 10%;
}

#about-img{
	margin-top: 10vh;
	grid-area: imagen;

	background: #0088aa;
	border-radius: 20px;
}

#icon-image{
	
	display: inline-block;
	width: 35vh;
	height: 35vh;

	border-radius: 50%;
	border: solid;
	border-color: #ddd;
	background-image:url("../images/profilePic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	

	position: relative;
	top: 60%;
	left: 70%;
}

@media (max-width:991px){

	#about-me{
		width: 100%;
		display: grid;
		grid-template-areas:'imagen' 'about';
	}

	#about-img{
		background-color: transparent !important;
	}
	
	#icon-image{
		top: 0% !important;
		left: 0% !important;	
	}
}

#about-separator{
	background: #0088aa;
	position: relative;
	left: -2vh;
	top: -2vh;
	border-radius: 25px;
	width: 50%;
	height: 10vh;
}

#about-info{
	text-align: center;
	max-width: 800px;
	margin-left: 10vw;
	margin-right: 10vw;
	grid-area: about;
}


.title{
	font-size: 3rem;
}

#home-projects{
	padding-top: 10vh;
}

#projects-page{

	display: none;
	padding-top: 10vh;
	width: 100%;
    
}

button{

	background: #0088aa;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 2rem;

	margin: 5%;
}

#cv{
	color: white;
	text-decoration: none;
}

#contact{
	width: 100%;
	background: #0088aa;

	margin-bottom: 2%;

	padding: 1% 0% 2% 0%;
	font-family: 'Amatic SC', cursive;

}

#contact > a{
	text-decoration: none;
	color: white;
}

#contact h1{
	font-size: calc(12px + 1.5vw);
}

#email{
	font-size: calc(12px + 1.3vw);
	color: #ddd;
}

footer{
	background: black;
	color: #aaa;
	padding: 1% 0% 2% 0%;

	width: 100%;
}

footer >div{
	margin-bottom: 1%;
}

footer a{

	margin-right: 1%;
	text-decoration: none;
	color: #aaa;
}


.interactive:hover{

	cursor: pointer;
}